<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="4.22"?>
<plugin>

   <extension point="org.eclipse.ui.commands">
      <category
            id="de.patternizer.commands.category"
            name="Sample Category">
      </category>
      
      <command
            categoryId="de.patternizer.commands.category"
            name="Singleton"
            id="de.patternizer.patterns.Singleton">
      </command>
      <command
            categoryId="de.patternizer.commands.category"
            name="Builder"
            id="de.patternizer.patterns.Builder">
      </command>
      <command
            categoryId="de.patternizer.commands.category"
            name="Visitor"
            id="de.patternizer.patterns.Visitor">
      </command>
   </extension>
   
   <extension point="org.eclipse.ui.handlers">
      <handler
            class="de.patternizer.eclipse.patterns._InsertPatternHandler"
            commandId="de.patternizer.patterns.Singleton">
      </handler>
      <handler
            class="de.patternizer.eclipse.patterns._InsertPatternHandler"
            commandId="de.patternizer.patterns.Builder">
      </handler>
      <handler
            class="de.patternizer.eclipse.patterns._InsertPatternHandler"
            commandId="de.patternizer.patterns.Visitor">
      </handler>
   </extension>
   
   <extension point="org.eclipse.ui.menus">
      <menuContribution locationURI="popup:#CompilationUnitEditorContext?after=org.eclipse.jdt.ui.source.menu">
            <menu label="Insert Design Pattern">
                <command style="push"
                         commandId="de.patternizer.patterns.Singleton" />
                <command style="push"
                         commandId="de.patternizer.patterns.Builder" />
                <command style="push"
                         commandId="de.patternizer.patterns.Visitor" />
            </menu>
        </menuContribution>
   </extension>

</plugin>
