<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="4.22"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <category
            id="de.kalinowski.patternizer.commands.category"
            name="Sample Category">
      </category>
      
      <command
            categoryId="de.kalinowski.patternizer.commands.category"
            name="Singleton (Class)"
            id="de.kalinowski.patternizer.patterns.singleton">
      </command>
      <command
            categoryId="de.kalinowski.patternizer.commands.category"
            name="Builder"
            id="de.kalinowski.patternizer.patterns.builder">
      </command>
   </extension>
   
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="de.patternizer.eclipse.patterns.singleton._Handler_InsertSingleton_Command"
            commandId="de.kalinowski.patternizer.patterns.singleton">
      </handler>
      <handler
            class="de.patternizer.eclipse.patterns.builder._Handler_InsertBuilder_Command"
            commandId="de.kalinowski.patternizer.patterns.builder">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">

      <menuContribution locationURI="popup:#CompilationUnitEditorContext?after=org.eclipse.jdt.ui.source.menu">
            <menu label="Insert Design Pattern">
                <command style="push"
                         commandId="de.kalinowski.patternizer.patterns.singleton" />
                <command style="push"
                         commandId="de.kalinowski.patternizer.patterns.builder" />
            </menu>
        </menuContribution>
   </extension>

</plugin>
